* {
  outline: 1px dotted red;
}

#page {
  width: 900px;
  margin: 0 auto;
}

header {
  width: 100%;
  float: left;
  border-image: url(img/hr-img.png) 10px;
  overflow: hidden;
  margin-bottom: 45px;
}

header img, #logoleft {
  float: left;
}

h2 {
  font-size: 35px;
  font-family: 'Yellowtail', cursive;
}

h3 {
  font-size: 12px;
  font-family: 'Open Sans Condensed', sans-serif;
}

#logoleft {
  margin-left: 10px;
}

#logoright {
  float: right;
  margin-right: 0;
}

#logoright img {
  margin: 1px;
  margin-top: 5px;
}

h1 {
  font-size: 48px;
  font-family: 'Coda Caption', sans-serif;
}

h4 {
  font-size: 14px;
  color: rgb(167, 164, 164);
  font-family: 'Open Sans Condensed', sans-serif;
}

#title {
  width: 100%;
  margin-bottom: 40px;
}
#printBox h4 {
  float: left;
}
#printRight {
  float: right;
}
#printRight img {
  float: left;
  margin-right: 3px;
}
#recipeArticle {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(97, 97, 97);
}
#recipeSteps img {
  position: absolute;
  z-index: -1;
}
#recipeSteps ul {
  list-style-type: inside;
  margin: 30px;
}
#recipeStepsText {
  margin-left: 58px;
}
#recipeStepsText ul {
  float: left;
  font-size: 31px;
  color: rgba(119, 72, 72, 0.781);
  font-family: 'Patrick Hand', cursive;
}